<div class="container">
  <div>
    <h1 class="display-4">You are logged out</h1>
    <br />
  </div>
  <div>
    <p class="lead">&nbsp;Thank You for using Todo Manager!</p>
    <br />
  </div>
  <div class="row justify-content-center">
    <a routerLink="/login">
      <p class="lead font-weight-bold">Login back here</p>
    </a>
    &nbsp;&nbsp;
    <a routerLink="/login">
      <img
        src="assets/login-back.ico"
        width="40"
        height="35"
        class="rounded mx-auto d-block"
        alt="Login-back"
      />
    </a>
  </div>
</div>
