<div class="container">
  <br />
  <form>
    <div class="form-outline mb-4">
      <label class="form-label lead" for="loginName">Username : &nbsp;</label>
      <input
        type="text"
        class="form-group form-group-sm lead"
        name="userame"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label lead" for="loginPassword"
        >Password : &nbsp;&nbsp;</label
      >
      <input
        type="password"
        class="form-group form-group-sm lead"
        name="password"
        [(ngModel)]="password"
      />
    </div>
    <div class="form-outline mb-4">
      <button class="btn btn-primary mb-3 lead" (click)="handleLogin()">
        Login
      </button>
    </div>
  </form>
  <br />
  <br />
  <div class="alert alert-warning lead" *ngIf="invalidLogin">
    {{ loginError }}
  </div>
</div>
